language: node_js
node_js:
  - "stable"
cache:
  directories:
    - node_modules
script:
  - yarn test
  - codecov
  - yarn run build
deploy:
  provider: pages
  local-dir: build
  github-token: $GITHUB_TOKEN
  skip-cleanup: true
  keep-history: true
  target-branch: master
  on:
    branch: dev
branches:
  only:
    - dev
