$bg:#f1f5f2;
$text:#2e383f;
$text-alt:#7f8c8d;
$text-hover:#000000;
$cli-header-bg:#171717;
$cli-header-text:#b0b0b0;
$cli-text:#b0b0b0;
$cli-bg:#1b1b1b;
$white:#ffffff;
$black:#000000;
$main:#d81159;
$main-alt:#c50b24;
$accent:#07617d;
$skills-bg:#c3bfcc;
$border-gray:#b7b7b7;
$red:#e24f61;
$green:#8cbe70;
$yellow:#ffd469;