@import './../../global/colors';

.page-content.profile {
  height:100%;
  width:860px;
  margin:auto;
  padding:0;
  .profile-section {
    padding:20px 0;
    .section-header {
      text-align:center;
      padding:30px 0;
      .section-title {
        font-size:60px;
        padding:0;
        margin:0;
      }
      .section-desc { font-size:16px; }
    }
    .section-content {
      text-align:center;
      overflow:hidden;
      .about-me {
        margin:30px auto;
        font-size:24px;
        line-height:2;
      }
    }
  }
  .download-resume {
    text-align:center;
    margin:40px 0;
    a {
      -webkit-transition:.5s all;
      -moz-transition:.5s all;
      transition:.5s all;
      background-color:$main;
      display:inline-block;
      position:relative;
      line-height:50px;
      height:50px;
      .icon {
        background-color:rgba(0,0,0,0.3);
        position:absolute;
        color:$white;
        padding:10px;
        height:50px;
        width:40px;
        left:0;
        top:0;
      }
      .text {
        padding:10px 30px 10px 60px;
        text-align:center;
        color:$white;
        height:100%;
        width:100%;
        &.mobile { display: none; }
      }
      &:hover { background-color:$main-alt; }
    }
  }
  .copyright {
    text-align:center;
    padding:20px 0;
    .icon { color:$main; }
    a { font-weight:bold; }
  }
}

@media only screen and (max-width: 1200px) {
  .page-content.profile { width:100%;padding:0 20px; }
}

@media only screen and (max-width: 768px) {
  .page-content.profile {
    width:100%;
    .profile-section {
      padding:0;
      .section-header {
        padding:20px 0;
        .section-title { font-size:30px; }
        .section-desc { font-size:16px; }
      }
      .section-content {
        .about-me {
          font-size:20px;
          margin:10px 20px;
          line-height:1.5;
        }
      }
    }
    .download-resume {
      a {
        line-height:40px;
        height:40px;
        .icon {
          padding:8px;
          height:40px;
          width:40px;
        }
        .text {
          padding:10px 20px 10px 60px;
          font-size:18px;
          &.desktop { display:none; }
          &.mobile { display:inline; }
        }
      }
    }
    .copyright {
      font-size:20px;
      padding:0;
      .icon { color:$main; }
      a { font-weight:bold; }
    }
  }
}