@import './../../global/colors';

.page-content.home {
  position:absolute;
  padding-top:70px;
  height:100%;
  width:100%;
  z-index:1;
  left:0;
  top:0;
  .content-wrapper {
    margin-left:-400px;
    margin-top:-142px;
    position:absolute;
    overflow:hidden;
    height:284px;
    width:800px;
    left:50%;
    top:50%;
    .headline {
      font-weight:normal;
      margin-bottom:0;
      margin-top:10px;
      font-size:48px;
      .fullname {
        font-weight:bold;
        color:$main;
      }
      strong {
        font-size:56px;
      }
    }
    .info {
      font-size:18px;
      color:$text-alt;
      font-weight:normal;
      margin:10px 0;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .page-content.home .content-wrapper {
    padding:0 50px;
    margin-left:0;
    width:100%;
    left:0;
  }
}

@media only screen and (max-width: 768px) {
  .page-content.home {
    padding-top:170px;
    .content-wrapper {
      position:relative;
      padding:30px 20px;
      height:100%;
      width:100%;
      margin:0;
      left:0;
      top:0;
      .headline { font-size:30px;line-height:1.5; }
      .info { font-size:18px; }
    }
  }
}
