@import './../../global/colors';

.page-content.sissi {
    position: relative;
    margin: 80px auto;
    width: 860px;
    padding: 0;
    .icebear-dialog {
        background-color: $white;
        border: 1px solid $main;
        border-radius: 6px;
        position: absolute;
        text-align: center;
        padding: 10px 16px;
        width: 180px;
        left: 50%;
        top: -100px;
    }
    .icebear-img {
        margin: 10px auto;
        display: block;
        height: 240px;
        width: 240px;
    }
    .icebear-pg {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        color: $main;
    }
    .icebear-letter {
        font-family: 'Euphoria Script', cursive;
        line-height: 36px;
        font-size: 22px;
        .letter-head {
            margin-bottom: 36px;
            font-size: 54px;
        }
        .letter-foot {
            margin-top: 36px;
        }
        .icebear-emoji {
        }
    }
    .icebear-emoji {
        margin: 0 5px;
        height: 24px;
        width: 24px;
    }
}

@media only screen and (max-width: 1200px) {
  .page-content.sissi { width:100%;padding:0 20px; }
}

@media only screen and (max-width: 768px) {
  .page-content.sissi {
    margin: 20px auto 50px;
    width:100%;
    .icebear-dialog { left: 40%; }
  }
}
